We have already peroformed EDA on our data and after performing EDA important features extracted are bookcategory, reviews,ratings and book cover.  So now using these features we will be predicitng the book price.

Data Preperation step

In [160]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [161]:
df=pd.read_excel('F:/Data/Participants_Data/Data_Train.xlsx')
df.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0 out of 5 stars,8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9 out of 5 stars,14 customer reviews,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8 out of 5 stars,6 customer reviews,"""During the time men live without a common Pow...",International Relations,Humour,299.00
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1 out of 5 stars,13 customer reviews,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",180.00
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0 out of 5 stars,1 customer review,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",965.62

In [162]:
df.columns

Index(['Title', 'Author', 'Edition', 'Reviews', 'Ratings', 'Synopsis', 'Genre',
       'BookCategory', 'Price'],
      dtype='object')

In [163]:
print("Number of unique values in each column")
for col_names in df.columns:
    print(col_names," ",df[col_names].nunique())

Number of unique values in each column
Title   5568
Author   3679
Edition   3370
Reviews   36
Ratings   342
Synopsis   5549
Genre   345
BookCategory   11
Price   1614

In [164]:
objectlist=['Reviews','Ratings']
df['BookCategory']=df['BookCategory'].astype('category')
for obj in objectlist:
    df[obj]=df[obj].astype('string')
df.dtypes

Title             object
Author            object
Edition           object
Reviews           string
Ratings           string
Synopsis          object
Genre             object
BookCategory    category
Price            float64
dtype: object

In [165]:
df.Reviews.str.extract('(\d+)').head()
reviewlist=[]
for review in df['Reviews']:
    value1=float(review[:3])
    value2=float(review[11:12])
    reviewlist.append(value1/value2)
     
print(reviewlist[:5])

[0.8, 0.78, 0.96, 0.82, 1.0]

In [166]:
reviewlist=np.array(reviewlist)
df.drop(['Reviews'],axis=1).head()

,Title,Author,Edition,Ratings,Synopsis,Genre,BookCategory,Price
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",14 customer reviews,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",6 customer reviews,"""During the time men live without a common Pow...",International Relations,Humour,299.00
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",13 customer reviews,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",180.00
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",1 customer review,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",965.62

In [167]:
df['Reviews']=reviewlist
df['Ratings']=df.Ratings.str.extract('(\d+)')
df['Ratings']=pd.to_numeric(df['Ratings'])
df['Edition']=df['Edition'].astype('string')
bookcover=[]
publishdate=[]
for coverval in df['Edition']:
    coverval=coverval.split(',')
    if(len(coverval)>2):
        coverval[0]=coverval[0]+" "+coverval[1]
    if(len(coverval)>3):
        coverval[0]=coverval[0]+" "+coverval[2]
        
    bookcover.append(coverval[0])
    publishdate.append(coverval[len(coverval)-1])

In [168]:
publishday=[]
publishmonth=[]
publishyear=[]

currentbook=0
for pbdate in publishdate:
    pbdate=pbdate.split()
    currentbook+=1
    for pbval in pbdate:
        if(pbval=='–'):
            continue
        elif(len(pbval)<=2):
            publishday.append(pbval)
        elif(len(pbval)==3):
            publishmonth.append(pbval)
        elif(len(pbval)==4):
            publishyear.append(pbval)
    if(len(publishday)<currentbook):
        publishday.append(np.nan)
    if(len(publishmonth)<currentbook):
        publishmonth.append(np.nan)
    if(len(publishyear)<currentbook):
        publishyear.append(np.nan)

df=df.drop(['Edition'],axis=1)

In [169]:
df['bookcover']=bookcover
df['publishday']=publishday
df['publishmonth']=publishmonth
df['publishyear']=publishyear
df['publishday']=pd.to_numeric(df['publishday'])

In [171]:
for i in range(len(df)):
    if(df['publishmonth'][i]=='Box' or df['publishmonth'][i]=='set'):
        df['publishmonth'][i]=np.nan
    if(df['publishyear'][i]=='NTSC'):
        df['publishyear'][i]=np.nan

df2=df
df2['publishday']=df2['publishday'].replace(to_replace=np.nan,value=df['publishday'].mean())
df2['publishmonth']=df2['publishmonth'].replace(to_replace=np.nan,value=df['publishmonth'].mode()[0])
df2['publishyear']=df2['publishyear'].replace(to_replace=np.nan,value=df['publishyear'].mode()[0])

In [172]:
def dummy_encoding(df,categoricallist):
    for categoricalvar in categoricallist:
        enc=pd.get_dummies(df[categoricalvar],drop_first=True)
        df=pd.concat([df,enc],axis=1)
        df=df.drop([categoricalvar],axis=1)
    return df

# Linear regression

In [173]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [174]:
df2.head()

,Title,Author,Reviews,Ratings,Synopsis,Genre,BookCategory,Price,bookcover,publishday,publishmonth,publishyear
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,0.80,8,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00,Paperback,10.0,Mar,2016
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,0.78,14,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93,Paperback,7.0,Nov,2012
2,Leviathan (Penguin Classics),Thomas Hobbes,0.96,6,"""During the time men live without a common Pow...",International Relations,Humour,299.00,Paperback,25.0,Feb,1982
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,0.82,13,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",180.00,Paperback,5.0,Oct,2017
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,1.00,1,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",965.62,Hardcover,10.0,Oct,2006

Dropping columns which are not required

In [175]:
#After EDA features which we will be using for book price prediciton - Reviews , Ratings , BookCategory , bookcover
dropcolumns=['Title','Author','Synopsis','Genre','publishmonth','publishday','publishyear','Price']
rgdf=df2.drop(dropcolumns,axis='columns')

In [176]:
#Dummy encoding bookcategory and bookcover
rgdf=dummy_encoding(rgdf,['BookCategory','bookcover'])

In [177]:
rgdf.head()

,Reviews,Ratings,"Arts, Film & Photography","Biographies, Diaries & True Accounts",Comics & Mangas,"Computing, Internet & Digital Media","Crime, Thriller & Mystery",Humour,"Language, Linguistics & Writing",Politics,...,Paperback – Student Edition,Paperback – Unabridged,Perfect Paperback,Plastic Comb – DVD,Product Bundle,Sheet music,Sheet music – Import,Spiral-bound,Tankobon Softcover,Tankobon Softcover – Import
0,0.80,8,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.78,14,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.96,6,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.82,13,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1.00,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

We have 68 input features after dummy encoding

In [178]:
#Split the data into train and test set
x_train,x_test,y_train,y_test=train_test_split(rgdf,df2['Price'],test_size=0.2,random_state=49)

In [179]:
reg=LinearRegression().fit(x_train,y_train)

In [180]:
y_pred=reg.predict(x_test)

In [181]:
reg.score(x_test,y_test)

0.13637446375434403

Accuracy of our model is not good as:-
1) From EDA we noticed that none of the features are linearly related to book price

2) None of features are highly correlated with the book price

In [182]:
np.trunc(reg.coef_)

array([ 4.1300e+02, -0.0000e+00,  3.7500e+02, -8.4000e+01,  2.3900e+02,
        5.6800e+02, -2.3000e+01,  2.0400e+02,  5.6000e+01,  4.2000e+01,
       -3.0000e+00,  2.7800e+02, -0.0000e+00, -4.7800e+02, -0.0000e+00,
       -0.0000e+00,  3.5000e+01,  0.0000e+00,  1.8000e+01, -4.5200e+02,
        2.8200e+02, -0.0000e+00,  1.0780e+03,  2.2400e+02,  6.1100e+02,
        3.1000e+02,  2.1400e+02,  1.3600e+02,  5.1000e+01,  6.2700e+02,
       -4.8200e+02,  4.2600e+02,  6.7400e+02,  1.2180e+03, -1.4500e+02,
       -0.0000e+00, -2.1000e+02, -2.0000e+00, -1.3100e+02, -0.0000e+00,
       -0.0000e+00, -1.8500e+02,  1.2800e+02, -1.1700e+02,  5.0000e+00,
        4.7000e+02, -8.1500e+02,  1.2880e+03, -2.9400e+02,  9.0000e+00,
       -8.3000e+01, -2.2500e+02, -8.3000e+01, -3.2000e+02, -3.2400e+02,
       -2.9500e+02,  5.3700e+02, -1.0300e+02,  2.4200e+02, -9.0000e+00,
       -1.0300e+02,  5.6900e+02,  1.3276e+04, -1.2000e+01, -1.7000e+02,
        1.4800e+02,  1.3700e+02, -2.1100e+02])

Linear regression after dropping two more columns bookcategory and bookcover

In [183]:
dropcolumns=['Title','Author','Synopsis','Genre','publishmonth','publishday','publishyear','Price','BookCategory','bookcover']
rgdf=df2.drop(dropcolumns,axis='columns')

In [184]:
rgdf.head()

   Reviews  Ratings
0     0.80        8
1     0.78       14
2     0.96        6
3     0.82       13
4     1.00        1

In [185]:
x_train,x_test,y_train,y_test=train_test_split(rgdf,df2['Price'],test_size=0.2,random_state=49)

In [186]:
reg=LinearRegression().fit(x_train,y_train)

In [187]:
reg=LinearRegression().fit(x_train,y_train)
reg.score(x_test,y_test)

0.021122156722502394

Now accuracy of the model is even lower so bookcover and bookcategory are important features for book price prediciton

Linear regression after dropping reviews and ratings

In [188]:
dropcolumns=['Title','Author','Synopsis','Genre','publishmonth','publishday','publishyear','Price','Ratings','Reviews']
rgdf=df2.drop(dropcolumns,axis='columns')
rgdf=dummy_encoding(rgdf,['BookCategory','bookcover'])
x_train,x_test,y_train,y_test=train_test_split(rgdf,df2['Price'],test_size=0.2,random_state=49)
reg=LinearRegression().fit(x_train,y_train)
reg.score(x_test,y_test)

-3.911145295738943e+18

Acuuracy of the model is least in this case

Though our model is clearrly underfitting so no need of Lasso and ridge regression ,but to compare the performance we include them

In [189]:
#Lasso and ridge regression
dropcolumns=['Title','Author','Synopsis','Genre','publishmonth','publishday','publishyear','Price']
rgdf=df2.drop(dropcolumns,axis='columns')
rgdf=dummy_encoding(rgdf,['BookCategory','bookcover'])
x_train,x_test,y_train,y_test=train_test_split(rgdf,df2['Price'],test_size=0.2,random_state=49)

In [190]:
from sklearn.linear_model import Ridge
from sklearn import linear_model
clf = Ridge(alpha=1.0)
clf.fit(x_train, y_train)

Ridge()

In [191]:
clf.score(x_test,y_test)

0.13308111555696278

In [192]:
clf = linear_model.Lasso(alpha=0.1)
clf.fit(x_train, y_train)

Lasso(alpha=0.1)

In [193]:
clf.score(x_test,y_test)

0.13836419288842972

We see that both in lasso and ridge the accuaracy of the model is same as linear regression

# Applying Nueral networks

In [194]:
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import BatchNormalization
from tensorflow.keras.layers import Conv2D
from tensorflow.keras.layers import MaxPooling2D
from tensorflow.keras.layers import Activation
from tensorflow.keras.layers import Dropout
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Flatten
from tensorflow.keras.layers import Input
from tensorflow.keras.models import Model

In [195]:
def prepare_data(df):
    dropcolumns=['Title','Author','Synopsis','Genre','publishmonth','publishday','publishyear','Price']
    df=df.drop(dropcolumns,axis='columns')
    df=dummy_encoding(df,['BookCategory','bookcover'])
    return df

In [196]:
df=prepare_data(df2)

In [197]:
df.shape

(6237, 68)

In [198]:
def build_model(input_dim):
    model=Sequential()
    model.add(Dense(512,input_dim=input_dim,activation="relu"))
    model.add(Dense(64,activation="relu"))
    model.add(Dense(32,activation="relu"))
    model.add(Dense(16,activation="relu"))
    model.add(Dense(8,activation="relu"))
    model.add(Dense(1,activation="linear"))
    return model

In [199]:
model=build_model(68)

In [200]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 512)               35328
_________________________________________________________________
dense_7 (Dense)              (None, 64)                32832
_________________________________________________________________
dense_8 (Dense)              (None, 32)                2080
_________________________________________________________________
dense_9 (Dense)              (None, 16)                528
_________________________________________________________________
dense_10 (Dense)             (None, 8)                 136
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 9
=================================================================
Total params: 70,913
Trainable params: 70,913
Non-trainable params: 0
_________________________________________________________________

In [201]:
model.compile(loss="mean_absolute_percentage_error", optimizer="Adam")

In [202]:
y=df2['Price']
x_train,x_test,y_train,y_test=train_test_split(df,y,test_size=0.1,random_state=49)

In [203]:
model.fit(x=x_train, y=y_train, validation_data=(x_test, y_test),epochs=10, batch_size=32,verbose=0)

In [204]:
model.evaluate(x_train,y_train)

5613/5613 [==============================] - 0s 35us/sample - loss: 46.9865

46.98648038463501

In [205]:
x_test=df[:100]
y_test=df2['Price'][:100]
y_pred=model.predict(x_test)

In [206]:
print(y_pred[:5])
print(y_test[:5])

[[224.12263]
 [240.75304]
 [324.279  ]
 [234.9093 ]
 [449.62726]]
0    220.00
1    202.93
2    299.00
3    180.00
4    965.62
Name: Price, dtype: float64

Our model now performs better than simple linear regression and as we increase the number of epochs our nueral network model performed really well

Nueral network is able  is able to capture multicollinearity between the data.
So even though the data is not linearly realted with bookprice we can model the input feature space.

# Classifying bookcategory based on bookcover ,rating, review and book price

In [208]:
dropcolumns=['Title','Author','Synopsis','Genre','publishmonth','publishday','publishyear']
rgdf=df2.drop(dropcolumns,axis='columns')
rgdf.head()

   Reviews  Ratings                          BookCategory   Price  bookcover
0     0.80        8                    Action & Adventure  220.00  Paperback
1     0.78       14  Biographies, Diaries & True Accounts  202.93  Paperback
2     0.96        6                                Humour  299.00  Paperback
3     0.82       13             Crime, Thriller & Mystery  180.00  Paperback
4     1.00        1              Arts, Film & Photography  965.62  Hardcover

Number of classes in BookCategory

In [209]:
df2['BookCategory'].nunique()

11

In [210]:
df2['BookCategory'].value_counts()

Action & Adventure                      818
Crime, Thriller & Mystery               723
Biographies, Diaries & True Accounts    596
Language, Linguistics & Writing         594
Comics & Mangas                         583
Romance                                 560
Humour                                  540
Arts, Film & Photography                517
Computing, Internet & Digital Media     510
Sports                                  471
Politics                                325
Name: BookCategory, dtype: int64

In [211]:
from sklearn import preprocessing

In [212]:
le=preprocessing.LabelEncoder()
le.fit(rgdf['BookCategory'])
rgdf['BookCategoryLabel']=le.transform(rgdf['BookCategory'])

In [213]:
rgdf.head()

,Reviews,Ratings,BookCategory,Price,bookcover,BookCategoryLabel
0,0.80,8,Action & Adventure,220.00,Paperback,0
1,0.78,14,"Biographies, Diaries & True Accounts",202.93,Paperback,2
2,0.96,6,Humour,299.00,Paperback,6
3,0.82,13,"Crime, Thriller & Mystery",180.00,Paperback,5
4,1.00,1,"Arts, Film & Photography",965.62,Hardcover,1

In [214]:
y=rgdf['BookCategoryLabel']
df=rgdf.drop(['BookCategoryLabel','BookCategory'],axis='columns')
df=dummy_encoding(df,['bookcover'])
x_train,x_test,y_train,y_test=train_test_split(df,y,test_size=0.1,random_state=49)

In [215]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
y_pred = gnb.fit(x_train, y_train).predict(x_test)
print("Number of mislabeled points out of a total %d points : %d" % (x_test.shape[0], (y_test != y_pred).sum()))
gnb.score(x_train,y_train)

Number of mislabeled points out of a total 624 points : 558

0.1277391769107429

Naive bayes performs very poorly because:-

1) There is lot of variance in the data

2) Navie bayes basically calculates probability using bayes theorm , but in the above data set p(A|B) for each feature will be very less as none of the features are highly correlated with bookcategoryclass

In [216]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0)
cross_val_score(clf, df, y, cv=10)

array([0.15705128, 0.11858974, 0.15224359, 0.15705128, 0.16666667,
       0.15705128, 0.16346154, 0.14125201, 0.15248796, 0.15569823])

Decision tree also performs very poorly because - even decision trees use probability to seperate into classes . Since probability of each feature p(A|B) is not accurate we dont get good accuracy

In [217]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
clf.fit(df,y)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svc', SVC(gamma='auto'))])

In [218]:
clf.score(x_train,y_train)

0.21093889185818634

In [219]:
y_pred=clf.predict(x_test)

In [220]:
clf.score(x_test,y_test)

0.20192307692307693

SVM are use when we have large number of features and less training data . But SVM also does not perform well as it is not able to transform the input features into a different input feature space which can be done by nueral networks.

In [221]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=1)
neigh.fit(df, y)

KNeighborsClassifier(n_neighbors=1)

In [222]:
y_pred=neigh.predict(df)
neigh.score(df,y)

0.9244829244829245

KNN performs really well then other classifiers as it is just comparing input features with its neighnouring input features. Though the data has lot of variance there would be atleast significant amount of data points around the input feature with same input variables . But when K is increased due to variance in data KNN model performance decreased.